@import '../../Colors/Colors.css';

.conta-icone{
    display: flex;
    margin: 0px 5px;
    align-items: center;
}

.icone-conta{
    font-size: 30px;
    margin: 0px 5px;
    cursor: pointer;
}

.conta-area{
    width: 30%;
    height: 100vh;
    background-color: var(--gray1);
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    cursor: auto;
}

.close{
    color: var(--redColor);
    position: fixed;
    top: 50;
    right: 0;
    font-size: 35px;
    cursor: pointer;
}
