@import '../../Colors/Colors.css';

.container-section4{
    width: 80vw;
    height: calc(100vh - 50px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-section4 h4{
    margin: 20px 0px;
}

.container-section4 p{
    margin: 10px 0px;
    color: var(--black3Color);
    line-height: 25px;
    font-size: 14px;
    font-weight: 300;
}